{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}